<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Track</title>
      <link rel="stylesheet" type="text/css" href="../public/css/search.css">
        <link rel="shortcut icon" href="../public/image/ico.png" type="image/x-icon">
  </head>
<body>
 <% include blocks/header.ejs %>
<div class='mainReserv'>
  <div class = left>
  </div>
   <div class = 'center' id = 'center'>
     <div class = inputSearch>
           <input type = 'text' class = 'inputBox' id = 'searchData' ><br>
           <div class = 'button' id = 'buttonSearch'>
             Поиск
           </div>
           <div class = 'searchRezult' id = 'searchRezult'>
             dfgdgdgdfgd
           </div>
     </div>

</div>
         <div class = right>
         </div>

   </div>


</body>
</html>
